<div id='section'>
	<div id='segredo'>
    	<h1><%=@hint.title%></h1>
        <p><%=@hint.hint%></p>
        <img src='images/linha.png' />
        <div id='botoes'>
		<%=form_tag '/wall_posts/publish', :remote => true%>
			<input type="hidden" name="title" value="<%=@hint.title%>">
			<input type="hidden" name="hint" value="<%=@hint.hint%>">
			
			<input type="image" src="/images/bt_publicar.jpg">
        	<a href="/" class="proximo"><img src="images/bt_proximo.jpg" border="0" /></a>
        </form>
        </div>
    </div>
    <div id='footer'>
    	<a href="http://www.segredosdeadriane.com.br"><img src="images/footer.png" border="0" /></a>
    </div>
</div>