<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
 xml:fb="http://www.facebook.com/2008/fbml">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Os Segredos de Adriane Galisteu</title>
 <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "fancybox_internas" %>
	<%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4" %>  
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.4.pack.js" %>
	<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack.js" %>
	<%= csrf_meta_tag %>
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>
<div id="fb-root"></div>

<script type="text/javascript">
 FB.init({
 appId  : '316274158411188',
 status : true, // check login status
 cookie : true, // enable cookies to allow the server to access the session
 xfbml  : true  // parse XFBML
 });

 FB.login(function(response) {
 if (response.session) {
	alert("logado");
 location.href = '/dashboard'
 } else {
	alert("nao logado");
 // user cancelled login
 }
});
</script>
<%= yield %>
</body>
</html>



